.search {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
}


.mat-card {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
