.card {
    margin-top: 1rem;
    background: #111111;
}

.subcard {
    height: 70px;
    background: #1e1e1e;
}

.container-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.artist {
    margin-top: 1.5rem;
    color: grey;
    font-size: 18px;
}

.song {
    font-size: 20px;
    color: white;
    word-wrap: none;
}

.title {
    color: white;
}
