<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title">Queue</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let song of songResultName">
    <mat-card class="subCard">
      <span class="container-col">
        <span class="song">{{song.song}}</span>
        <span class="artist">{{song.artist}}</span>
      </span>
      <span class="container-row">
        <button mat-button (click)="onUpvote(song)">
          <span [ngSwitch]="votedSongsHash[song.uri] === 1">
            <span *ngSwitchCase="true">
              <mat-icon class="green mat-18">arrow_upward</mat-icon>
            </span>
            <span *ngSwitchCase="false">
              <mat-icon class="grey mat-18">arrow_upward</mat-icon>
            </span>
            <span *ngSwitchDefault>
              <mat-icon class="grey mat-18">arrow_upward</mat-icon>
            </span>
          </span>
        </button>
        <span class="votes">
          {{song.votes}}
        </span>
        <button mat-button (click)="onDownvote(song)">
          <span [ngSwitch]="votedSongsHash[song.uri] === -1">
            <span *ngSwitchCase="true">
              <mat-icon class="red mat-18">arrow_downward</mat-icon>
            </span>
            <span *ngSwitchCase="false">
              <mat-icon class="grey mat-18">arrow_downward</mat-icon>
            </span>
            <span *ngSwitchDefault>
              <mat-icon class="grey mat-18">arrow_downward</mat-icon>
            </span>
          </span>
        </button>
      </span>
    </mat-card>
  </mat-card-content>
</mat-card>

