.card {
    margin-top: 1rem;
}

.subcard {
    height: 70px;
}

.container-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.artist {
    margin-top: 1rem;
    color: grey;
    font-size: 18px;
}

.song {
    font-size: 20px;
}

.votes {
    font-size: 18px;
}

.voting {
    margin-top: 1rem;
}